:root {
    --blue: #30475E;
    --red: #F05454;
    --white: #F5F5F5;
    --gray: #ddd;
    --black: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DOCUMENT SETUP & COLOR */

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    position: relative;
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 15px;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    color: var(--black);
}

h1, h2, h3 {
    Font-Family: 'Ubuntu', Sans-Serif;
    Font-Size: 48px;
}

h1 {
    font-size: 300%;
    margin: 2%;
    color: var(--white);
}

h2 {
    font-size: 200%;
    color: var(--blue);
}

h3 {
    font-size: 150%;
}

p {
    margin-top: 2%;
    font-size: -1em;
}

a {
    text-decoration: none;
}

.card-title, .card-subtitle {
    font-family: 'Courier New', Courier, monospace;
}

.card-content h3 a, .card-title {
    color: var(--red);
}

.card-subtitle {
    color: var(--white);
}

/* HEADER & NAV */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
}

.header-title {
    text-shadow: 3px 3px var(--red);
}

nav ul {
    display: flex;
    justify-content: center;
    min-width: 300px;
    padding: 15px;
}

/* LINKS */

.nav-link,
.contact-link {
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.nav-link {
    color: var(--white);
    font-size: 1.2rem;
    padding: 2px;
    background-image: linear-gradient(270deg, var(--red) 0%, var(--red) 100%);
    background-size: 100% 15%;
    transition: background-size 0.3s;
}

.contact-link {
    padding: 15px;
    background-image: linear-gradient(270deg, var(--blue) 0%, var(--blue) 100%);
    background-size: 100% 8%;
    color: var(--blue);
    transition: color 0.3s, background-size 0.3s;
    white-space: nowrap;
}

/* handle hover effect */
.nav-link:hover,
.contact-link:hover {
    background-size: 100% 100%;
    color: var(--white);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

/* HERO BANNER */

.hero {
    background: var(--gray);
    align-items: center;
    width: 100%;
    height: 400px;
}

.hero img,
.hero-content {
    margin: 10px;
}

.hero img {
    width: 250px;
    border: 5px solid var(--white);
    border-radius: 100%;
    position: relative;
    top: 0;
    transition: top ease 0.2s, transform ease 0.2s;
}

/* image animation */
.hero img:hover {
    top: -10px;
    transform: rotate(-7deg);
}

/* stylistic wave after header */
.hero-content h2:hover::after {
    content: '👋';
}

/* SECTION */
section {
    max-width: 90%;
    margin: 25px 0;
}

.section-title {
    flex: 1 0 25%;
    align-self: center;
    text-align: right;
    padding-right: 20px;
}

/* add # stylization on hover */
.section-title:hover::before {
    content: '#';
    color: var(--gray);
}

.section-content {
    flex: 1 0 75%;
    flex-wrap: wrap;
    border-left: 5px dotted var(--blue);
    padding-left: 25px;
    transition: background-color ease 0.2s;
}

.section-content > figure {
    margin: 6px;
}

/* CARDS */

.card-large {
    height: 500px;
    width: 300px;
    flex: 1 0 95%;
}

.card-small {
    height: 300px;
    flex: 1 0 45%;
}

.card-large, .card-small {
    border: 6px solid var(--blue);
    position: relative;
    transition: border 0.2s, transform 0.2s;
}

/* handle scale and border of card */
.card-large:hover,
.card-small:hover {
    border: 6px solid var(--red);
    transform: scale(1.04);
    background-color: #30475E00;
    z-index: 2;
}

/* handle stylizing of project title 1 */
.card-large:hover .card-content .card-title::before,
.card-small:hover .card-content .card-title::before {
    content: '<';
    color: var(--white);
}
.card-large:hover .card-content .card-title::after,
.card-small:hover .card-content .card-title::after {
    content: '/>';
    color: var(--white);
}

/* handle stylizing of other projects on hover */
.card-large:hover .card-image,
.card-small:hover .card-image {
    opacity: 1;
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: -1px;
    background-color: var(--blue);
    padding: 20px 12px;
}

.card-title {
    text-align: center;
    font-size: 1.2rem;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}

/* FOOTER */

footer {
    background-color: var(--blue);
    justify-content: center;
    width: 100%;
    padding: 12px;
}

footer img {
    width: 60%;
    transition: transform 1s;
}

footer img:hover {
    transform: rotate(360deg);
}

/* FLEX PROPERTIES */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

/* MEDIA QUERIES */

/* Tablets */
@media screen and (max-width: 992px) {
    main {
        max-width: 992px;
    }
    header, section, .hero {
        flex-direction: column;
    }
    nav {
        width: 100%;
        background-color: var(--red);
        margin: 0px;
    }
    nav ul {
        margin: 0px;
    }
    .nav-link {
        background-image: linear-gradient(270deg, var(--blue) 0%, var(--blue) 100%);
        margin: 2px 0;
        margin: 10px;
        font-size: 1.5rem;
    }
    .hero-content {
        margin: 10px;
        text-align: center;
    }
    section {
        max-width: 100%;
        margin: 15px 25px;
    }
    .section-title {
        align-self: flex-start;
    }
    .section-content {
        border-top: 5px dotted var(--blue);
        border-left: none;
        padding-left: 25px;
        padding-right: 25px;
    }
    .card-small, .card-large {
        flex: 1 1 80%;
    }
}

/* Large Smartphones and Smaller */
@media screen and (max-width: 768px) {
    nav ul {
        align-items: center;
        flex-direction: column;
        padding: 15px 0;
        margin: 0px;
    }
    .nav-link {
        margin: 2px 0;
        margin: 10px;
        font-size: 1.5rem;
    }
}
