:root {
    --blue: #30475E;
    --red: #F05454;
    --white: #F5F5F5;
    --gray: #ddd;
    --black: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    line-height: 1.3;
    color: var(--black);
}

h1 {
    font-size: 300%;
    margin: 2%;
    color: var(--white);
}

h2 {
    font-size: 200%;
    color: var(--blue);
}

h3 {
    font-size: 150%;
}

p {
    margin-top: 2%;
}

a {
    text-decoration: none;
}

/* HEADER & NAV */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
}

nav ul {
    display: flex;
    justify-content: center;
    min-width: 300px;
    padding: 15px;
}

nav a {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    margin: 0 20px;
    background-image: linear-gradient(270deg, var(--red) 0%, var(--red) 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 15%;
    transition: background-size 0.3s;
}

nav a:hover {
    background-size: 100% 100%;
}

nav a:visited {
    color: var(--white);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

/* BANNER */

.hero {
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    position: relative;
}

.hero img {
    position: relative;
    width: 250px;
    border-radius: 100%;
    border: 5px solid var(--white);
    margin: 10px;
    top: 0;
    transition: top ease 0.2s, transform ease 0.2s;
}

.hero img:hover {
    top: -10px;
    transform: rotate(-7deg);
}

.hero div p {
    font-style: italic;
    font-size: 1.1rem;
}

.hero .hero-content {
    margin: 10px;;
}

.hero .hero-content h2:hover::after {
    content: '👋';
}

/* SECTION */
section {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 25px 0;
}

.section-title {
    flex: 1 0 25%;
    align-self: center;
    text-align: right;
    padding-right: 20px;
}

.section-title:hover::before {
    content: '#';
    color: var(--gray);
}

.section-content {
    flex: 1 0 75%;
    display: flex;
    flex-wrap: wrap;
    border-left: 5px dotted var(--blue);
    padding-left: 25px;
    transition: background-color ease 0.2s;
}

.section-content > div {
    margin: 6px;
}

.card-large, .card-small {
    border: 6px solid var(--blue);
    position: relative;
    transition: border 0.2s, transform 0.2s, background-color 0.2s;
    background-color: #30475E88;
    background-blend-mode: soft-light;
}

.card-large:hover,
.card-small:hover {
    border: 6px solid var(--red);
    transform: scale(1.04);
    background-color: #30475E00;
    z-index: 2;
}

.card-large:hover .card-content .card-title::before,
.card-small:hover .card-content .card-title::before {
    content: '<';
    color: var(--white);
}

.card-large:hover .card-content .card-title::after,
.card-small:hover .card-content .card-title::after {
    content: '/>';
    color: var(--white);
}

.card-large {
    height: 500px;
    width: 300px;
    flex: 1 0 95%;
}

.card-small {
    height: 300px;
    flex: 1 0 45%;
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: -1px;
    background-color: var(--blue);
    padding: 20px 12px;
}


.card-content h3 a {
    color: var(--red);
}

.card-content h3 a:visited {
    color: var(--red);
}

.card-title, .card-subtitle {
    font-family: 'Courier New', Courier, monospace;
}

.card-subtitle {
    color: var(--white);
}

.card-title {
    color: var(--red);
    text-align: center;
    font-size: 1.2rem;
}

/* CONTACT */

#contact .section-content {
    display:flex;
    justify-content: center;
}

.contact-link {
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    background-image: linear-gradient(270deg, var(--blue) 0%, var(--blue) 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 8%;
    color: var(--blue);
    transition: color 0.3s, background-size 0.3s;
}

.contact-link:hover {
    color: var(--white);
    background-size: 100% 100%;
}

/* FOOTER */

footer {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
}

footer img {
    width: 60%;
    transition: transform 1s;
}

footer img:hover {
    transform: rotate(360deg);
}

#calculator, 
#tic-tac-toe, 
#library, 
#restaurant-page,
#etch-a-sketch {
    background-position: center;
    background-size: cover;
}

#calculator {
    background-image: url("/assets/images/calculator-preview.png");
}

#tic-tac-toe {
    background-image: url("/assets/images/tic-tac-toe-preview.png");
}

#library {
    background-image: url("/assets/images/library-preview.png");
}

#restaurant-page {
    background-image: url("/assets/images/restaurant-page-preview.png");
}

#etch-a-sketch {
    background-image: url("/assets/images/etch-a-sketch-preview.png");
}

/* MEDIA QUERIES */

/* Tablets */
@media screen and (max-width: 992px) {
    main {
        max-width: 992px;
    }
    header {
        flex-direction: column;
    }
    nav {
        width: 100%;
        background-color: var(--red);
    }
    nav a {
        background-image: linear-gradient(270deg, var(--blue) 0%, var(--blue) 100%);
    }
    .hero {
        flex-direction: column;
    }
    .hero .hero-content {
        margin: 10px;
        text-align: center;
    }
    section {
        flex-direction: column;
        max-width: 100%;
        margin: 15px 25px;
    }
    .section-title {
        align-self: flex-start;
    }
    .section-content {
        border-top: 5px dotted var(--blue);
        border-left: none;
        padding-left: 25px;
        padding-right: 25px;
    }
    .card-small, .card-large {
        flex: 1 1 80%;
    }
    #calculator, #tic-tac-toe, #library, #restaurant-page, #etch-a-sketch {
        background-position: top;
    }
}

/* Large Smartphones */
@media screen and (max-width: 768px) {
    nav ul {
        align-items: center;
        flex-direction: column;
        min-width: 300px;
        padding: 15px 0;
    }
    nav li {
        margin: 8px 0;
    }
}

/* Small Smartphones */
@media screen and (max-width: 576px) {
}